/* nav {
    text-align: center;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
} */

header {
    background-color: transparent;
    color: rgb(242, 215, 215);
    padding: 10px 0;
    text-align: center;
    font-size: larger;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
h1 {
    font-size: xx-large;
    color: white;
    text-align: center;
}

body {
    background-image: url('https://i.pinimg.com/564x/65/13/32/651332ddcaad624d9066eb2264aa161f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
}

main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
}
.card {
    width: 33%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .card-container{
    display: flex;
  }
  .card-container:hover{
    cursor: pointer;
    -ms-zoom-animation: default;
  }
  ul{
    font-size: larger;
    text-align: center;
    display: flex;
  }
section{
    color: white;
    
}